.mentorRegistration {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mentorRegisterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @turqGreen;
    width: 60%;

    label {
        display: flex;
        justify-content: space-between;
        width: 80%;
        font-size: 1.8rem;
        margin-top: 2%;

        input{
            width: 50%;
        }
    }
}