.navContainer{
    width: 12%;
    min-height: calc(100vh - 100px);
    overflow: hidden;
    background-color: @turqGreen;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;

    a {
        text-decoration: none;
        color: black;
    }
}

.userNav{
    width: 100%;
    .flex(column);
}

.mentorNav{
    width: 100%;
    .flex(column);
}