/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  min-height: 100%;
}
body {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #FFFFFF;
  min-height: 100%;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1B2838;
  color: #FFC857;
}
header h1 {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  margin-left: 3%;
  text-shadow: 2px 2px black;
}
header button {
  margin-right: 3%;
  width: 15%;
  height: 38%;
  background-color: #FFC857;
  font-size: 1.6rem;
  border-radius: 4px;
  text-align: center;
  border: 1px;
  box-shadow: 3px 3px black;
}
header button:hover {
  background-color: #dda940;
  box-shadow: 4px 5px black;
}
.hometop {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url('../components/assets/climb.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
}
.hometop h3 {
  font-family: 'Lobster', cursive;
  font-size: 40px;
  color: #FFC857;
  text-shadow: 2px 2px black;
  margin-bottom: 15px;
}
.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-evenly;
  margin: 0 10%;
}
.box p {
  height: 300px;
  width: 250px;
  background-color: #2A475E;
  margin-bottom: 2rem;
  margin-top: 5%;
  border-radius: 4px;
  color: #BDD98F;
  font-size: 18px;
  text-align: left;
  padding: 18px 15px 5px 20px;
  box-shadow: 2px 3px black;
}
.midhome {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  color: #FFC857;
  text-shadow: 2px 2px black;
  margin-bottom: 5px;
  margin-top: 15px;
  text-align: center;
}
.midhome img {
  margin-top: 15px;
  border-radius: 5px;
}
.mentor {
  height: 400px;
}
.dashContainer {
  width: 100%;
  min-height: 100%;
  background-color: #FFFFFF;
  display: flex;
}
.user {
  font-family: "Lobster", cursive;
  font-size: 40px;
  color: #FFC857;
  text-shadow: 2px 2px black;
  margin-bottom: 15px;
}
.logout {
  margin-left: 1%;
  width: 15%;
  height: 30px;
  background-color: #FFC857;
  font-size: 16px;
  border-radius: 4px;
  text-align: center;
  border: 1px;
  box-shadow: 3px 3px black;
  background-color: #dda940;
  box-shadow: 4px 5px black;
}
.navContainer {
  width: 12%;
  min-height: calc(100vh - 100px);
  overflow: hidden;
  background-color: #2A475E;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 1.1rem;
  font-family: 'Biryani';
}
.navContainer a {
  text-decoration: none;
  color: #FFFFFF;
  margin-top: 4%;
}
#notMentor {
  justify-content: space-between;
}
.userNav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5%;
  border-bottom: 1px #FFC857 solid;
}
.userNav a {
  margin-bottom: 5%;
}
.mentorNav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5%;
  margin-top: 5%;
}
.mentorNav a {
  margin-bottom: 5%;
}
.becomeMentor {
  color: #1B2838;
  padding: 5%;
  margin-bottom: 5%;
}
.mentorRegistration {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Biryani';
  color: #FFFFFF;
}
.mentorRegisterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2A475E;
  width: 40%;
  border-radius: 4%;
  margin-top: 6%;
}
.mentorRegisterForm label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  font-size: 1.2rem;
  margin-top: 6%;
}
.mentorRegisterForm label input {
  width: 100%;
  height: 2.5vh;
  margin-top: 3%;
}
.mentorRegisterSubmit {
  margin: 4% auto;
  width: 50%;
  background-color: #FFC857;
  height: 5vh;
}
.mentorBio {
  height: 8vh;
}
.plus {
  width: 8%;
  margin-right: 4%;
}
#addCategory {
  display: flex;
  align-items: flex-end;
}
